# Frontend
Front End/node_modules
Front End/dist
Front End/build
Front End/.vite

# Backend
Back End/__pycache__
Back End/.venv

# General
**/node_modules
**/.venv
**/__pycache__
**/*.pyc
.git
dist
build
*.log
.env
.DS_Store
